<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>DataServelet</servlet-name>
    <servlet-class>de.berlin.fu.server.MyServerImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DataServelet</servlet-name>
    <url-pattern>/telprogwt/data</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DataInput</servlet-name>
    <servlet-class>de.berlin.fu.server.DataInput</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DataInput</servlet-name>
    <url-pattern>/telprogwt/datainput</url-pattern>
  </servlet-mapping>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TelproGWT.html</welcome-file>
  </welcome-file-list>

</web-app>
