*.class
*~


# Package Files #
*.war
#war/WEB-INF/lib/*.jar

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

.settings
.classpath
.project
.gwt

*.rpc

src/de/berlin/fu/data/jdbc/ResourceManager.java
src/de/berlin/fu/client/SmartGWTTest.java